* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("../img/background-pic.png");
}

main {
    margin-left: 5vw;
    margin-right: 5vw;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    background: #993031;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 5vw;
    margin-right: 5vw;
}

.wrapper .item {
    margin: 1px;
    border: 1px solid black;
    height: auto;
    position: relative;
    cursor: pointer;
}

/* Pulse Grow */
@-webkit-keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.pulse-grow:hover, .pulse-grow:focus, .pulse-grow:active {
  -webkit-animation-name: pulse-grow;
  animation-name: pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 6;
  animation-iteration-count: 6;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  z-index: 100;
}

.item-text {
    position: absolute;
    height: auto;
    bottom: 0;
    left: 0;
    border-top: 1px solid black;
    width: 100%;
    background: rgba(115, 115, 115, 0.8);
    font-weight: bold;
}

.item-text span{
    padding: 3px;
}

.item-img {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        display: block;
    }
    .wrapper .item {
        width: 100%;
    }

    .item-text {
        font-size: 200%;
    }
}

@media only screen and (max-width: 400px) {
    .logo-img {
        width: 100%;
    }
