/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 30%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #993031;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border-radius: 8px;
  width: 80%; /* Could be more or less, depending on screen size */
  color: #fff;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-foto {
    float: left;
    width: 150px;
}

.modal-foto img {
    width: 100%;
}

.modal-tekst {
    overflow: hidden;
    padding-left: 15px;
}

.modal-tekst #modalPrijs {
    margin-top: 15px;
}

.modal-bestel {
    float: right;
    top: 0;
    margin-top: 20px;
}

/* The Close Button */
.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #b2b2b2;
  text-decoration: none;
  cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button {
    border-radius: 0;
    width: 20%;
}

.animated {
     animation-delay: 1s;
     -webkit-animation: fadeInDown 0.5s linear forwards;
     animation: fadeInDown 0.5s linear forwards;
 }

.fadeinDown {
    -webkit-animation: fadeInDown 500ms ease-in-out; /* Chrome, Safari, Opera */
    animation: fadeInDown 500ms ease-in-out;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@media screen and (max-width: 600px) {
    .modal {
        overflow: hidden;
    }

    button {
        width: 30%;
    }
}
