* {
    font-family: 'Spartan', sans-serif;
}

#txt {
      width: 100%;
      justify-content: center;
      display: flex;
      position: absolute;
      top: 40%;
      font-size: 15vw;
      color: #fff;
}
body {
    background: black;
}
